---
import Button from "./Button.astro";
---

<div
	class="mt-20 flex flex-col items-center bg-gradient-to-br from-sky-200 via-blue-700 to-purple-600 p-8 text-center md:px-20 md:py-20"
>
	<h2 class="font-display font-black text-4xl tracking-tight text-white md:text-7xl">
		Construye más rápido con nosotros.
	</h2>
	<p class="mt-4 text-2xl text-white font-semibold">
		Tenemos la experiencia y la estructura que necesitas para impulsar tu negocio.
	</p>
	<div class="mt-5 flex">
		<Button href="/" size="lg" className="rounded-full bg-white text-black p-4 h-16 px-8 text-lg font-semibold">Empieza Ahora!</Button> 
	</div>
</div>
