---
import Button from "./Button.astro"
---

<div
	class="mt-20 flex flex-col items-center bg-gradient-to-bl from-primary to-primary/80 p-8 text-center md:px-20 md:py-20"
>
	<h2 class="font-display text-4xl tracking-tight text-white md:text-6xl">
		Build faster websites.
	</h2>
	<p class="mt-4 text-lg text-white/70 md:text-xl">
		Pull content from anywhere and serve it fast with Astro's next-gen island architecture.
	</p>
	<div class="mt-5 flex">
		<Button href="/" size="lg" variant="outline" className="rounded-full">Pruebalo Gratis</Button>
	</div>
</div>
