---
import { cn } from "../lib/utils";

export interface BentoGridProps {
	title?: string;
	description?: string;
	className?: string;
}

const { title, description, className } = Astro.props as BentoGridProps;
---
<div
  class={cn(
    "row-span-1 rounded-xl group/bento hover:shadow-xl transition duration-200 shadow-input p-4 border-black/[0.1] border justify-between flex flex-col space-y-4 bg-white", 
    className
  )}
>
  <slot name="header" />
  <div class="group-hover/bento:-translate-y-4 transition duration-200">
    <slot name="icon" />
    <p class="font-bold my-2">
      {title}
    </p>
    <p>
      {description}
    </p>
  </div>
</div>