---
import { Image } from "astro:assets";
import { hero } from "../assets";
import Button from "../components/Button.astro";
import Container from "./Container.astro";
---
<div id="hero" class="py-40 relative h-dvh">
  <Container className="w-full flex-auto md:mb-8">
    <div
      class="md:spacing-x-4 flex flex-col md:flex-row md:justify-stretch gap-8 animate-fade-in-up"
    >
      <div class="w-full">
        <h1 class="text-balance font-display text-6xl font-bold tracking-tight">
          <!--
						<div class="words">
							<span>Impulsamos</span>
							<span>Lanzamos</span>
							<span>Mejoramos</span>
							<span>Aceleramos</span>
							<span>Creamos</span> 
						</div>
					-->
          Impulsamos tu negocio
          <span
            class="bg-gradient-to-br from-blue-400 via-primary to-sky-400 bg-clip-text text-transparent"
            >en semanas,</span
          >
          no en meses.
        </h1>
        <p class="mt-6 text-pretty text-xl">
          Ofrecemos una amplia gama de servicios, desde aplicaciones web y
          móviles hasta sistemas administrativos y soluciones de comercio
          electrónico.
        </p>
        <div
          class="mt-4 flex flex-col space-y-4 md:flex-row md:space-x-8 md:space-y-0"
        >
          <Button size="xl" className="flex-none text-sm font-bold" href="/">
            Contactanos
          </Button>
        </div>
      </div>
      <figure
        class="bg-gradient-to-tr from-blue-400 via-primary to-sky-400 p-1 rounded-2xl max-w-2xl"
      >
        <Image src={hero} alt="Product cap" class="h-auto w-auto max-w-2xl" />
      </figure>
    </div>
  </Container>
</div>

<style>
	.words {
		overflow: hidden;
		height: 60px;
	}

	.words span {
		display: block;
		transition: transform 0.5s ease-in-out;
		animation: spinWords 5s infinite alternate-reverse;
	}
	
	@keyframes spinWords {
		from {
			transform: translateY(0%);
		}
		to {
			transform: translateY(-400%);
		}
	}
</style>