---
import BentoFeatures from "./BentoFeatures.astro";
---

<div class="mx-auto max-w-screen-xl px-5">
	<div class="mt-36 mb-24">
		<h2 class="font-display max-w-screen-md text-center mx-auto text-4xl font-bold lg:text-5xl lg:tracking-tight">
			Todo lo que necesitas para <span
				class="bg-gradient-to-br from-blue-600 via-primary to-sky-400 bg-clip-text text-transparent"
				>impulsar tu negocio</span
			>
		</h2>
	</div>
	<BentoFeatures />
</div>
