---
import NavigationRow from "./NavigationRow.astro";
import NavigationItem from "./NavigationItem.astro";
import NavigationDetails from "./NavigationDetails.astro";
---

<nav class="mt-px font-display text-5xl font-medium tracking-tight text-white">
	<NavigationRow>
		<NavigationItem href="/proyectos">Nuestros Proyectos</NavigationItem>
		<NavigationItem href="/contacto">Contacto</NavigationItem>
	</NavigationRow>
	<NavigationRow>
		<NavigationItem href="/sobre-nosotros">Sobre nosotros</NavigationItem>
		<NavigationItem href="/servicios">Servicios</NavigationItem>
	</NavigationRow>
</nav>
<NavigationDetails />
